html {
    font-size: 62.5%;
    scroll-behavior:smooth;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    line-height: 1.5;
    background-color: #D9D9D9;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Sora", sans-serif;
  }
  
  h2 {
    font-size: 6rem;
    margin-bottom: 5rem;
  }
  
  a {
    text-decoration: none;
  }
  
  p{
    margin-bottom: 3rem;
  }